/* GENERAL SETTING */
* {
  box-sizing: border-box;
}
.container-fluid {
  padding: 0;
}

/* UTILITIES */
.relative {
  position: relative;
}

.in-block {
  display: inline-block;
}

.fixed {
  display: fixed;
}

/* HEADER */
/* NAV */
#nav {
  margin-bottom: 10px;
}
#nav img {
  width: 170px;
  height: 30px;
  margin: 25px 15px;
  text-align: left;
}

/* MEDIA SETTINGS */
#icon {
  display: none;
}

.nav-ul {
  display: none;
}

/* HAMBURGER 1199 */
@media screen and (max-width:1199px) {
  #icon {
    display: inline-block;
    position: absolute;
    top: 17px;
    right: 30px;
    color: #3A8AFF;
  }
  #nav img {
    width: 170px;
    height: 30px;
    margin: 10px 50px;
    text-align: left;
  }
}

/* NAV MENU 1200 */
@media screen and (min-width:1200px) {
  .nav-ul {
    display: inline-block;
    color: #031B4E;
    margin-top: 13px;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 700;
  }
  .nav-ul a {
    position: relative;
    color: #031B4E;
    text-decoration: none;
    padding-right: 5px;
  }
  .nav-ul a:hover {
    color: #3A8AFF;
  }
  .nav-ul ul {
    margin-top: 7px;
    width: auto;
  }
  .btn-default {
    display: inline-block;
    color: #3A8AFF;
    border: 1px solid #3A8AFF;
    border-radius: 5px;
    padding: 5px 15px;
    /* margin-left: -100px; */
  }
  .btn-default:hover {
    display: inline-block;
    color: #FFF;
    background: #3A8AFF;
    border: 1px solid #3A8AFF;
    border-radius: 5px;
    padding: 5px 15px;
  }
  .down-arrow::after {
    content:'\f107';
    position: absolute;
    top: -1px;
    right: -7px;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
  }
}

/* HERO */
#hero {
  background-image: url("../img/bg-banner-home.jpg");
  background-size: contain;
  color: #fff;
}

#hero h1 {
  font-size: 410%;
  font-weight: 700;
  margin-top: 80px;
}

#hero p {
  font-size: 160%;
  font-weight: 500;
  margin-bottom: 80px;
}
